.TriggerWordCardTitle {
  font-size: 24px !important;
}

.TriggerWordCardBody {
  font-size: 16px !important;
  text-align: center !important;
}

.TriggerWordCard {
  background-color: black;
  display: inline;
}